<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.somsom.cyworld.post.friendReview.dao.FriendReviewDAO">
 	
 	<!-- 일촌평 입력 -->
 	<insert id="insertFriendReview" parameterType="map">
 	 	INSERT INTO `friendReview`
 		(
 			`userId`
 			, `userName`
 			, `targetUserId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{userName}
 			, #{targetUserId}
 			, #{content}
 			, now()
 			, now()
 		) 	
 	</insert>
 	
 	<!-- 작성된 일촌평 리스트 가져오기 -->
 	<select id="selectFriendReview" parameterType="int" 
 	resultType="com.somsom.cyworld.post.friendReview.model.FriendReview">
 		SELECT 
			`id`
			, `userId`
 			, `userName`
 			, `targetUserId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
		FROM
			`friendReview`
		WHERE
			`targetUserId` = #{targetUserId}
 	</select>				
 	
	<!-- 일촌평 삭제 -->
 	<delete id="deleteFriendReview" parameterType="int">
 		DELETE FROM
 			`friendReview`
 		WHERE
 			`id` = #{id}
 	</delete>
 	
 	<!-- 일촌평 삭제 -->
 	<select id="selectFriendReviewDelete" parameterType="int"
 	resultType="com.somsom.cyworld.post.friendReview.model.FriendReview">
 		SELECT 
 			`id`
			, `userId`
 			, `userName`
 			, `targetUserId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
		FROM
			`friendReview`
		WHERE
			`id` = #{id}
 	</select>
 </mapper>