<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.somsom.cyworld.post.friendReview.dao.FriendReviewDAO">
 	
 	<!-- 일촌평 입력 -->
 	<insert id="insertFriendReview" parameterType="map">
 	 	INSERT INTO `friendReview`
 		(
 			`userId`
 			, `userName`
 			, `targetUserId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{userName}
 			, #{targetUserId}
 			, #{content}
 			, now()
 			, now()
 		) 	
 	</insert>
 	
 	<select id="selectFriendReview" parameterType="String" resultType="com.somsom.cyworld.post.friendReview.model.FriendReview">
 		SELECT 
			`id`
			, `userId`
 			, `userName`
 			, `targetUserId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
		FROM
			`friendReview`
		WHERE
			`userId` = #{userId}
 	</select>
 	
 </mapper>