<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.somsom.cyworld.post.guestBook.dao.GuestBookDAO">
 
 	<!-- 방명록 입력 -->
 	<insert id="insertGuestBook" parameterType="map">
 		INSERT INTO `guestBook`
 		(
 			`userId`
 			, `userName`
 			, `targetUserId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{userName}
 			, #{targetUserId}
 			, #{content}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<select id="selectGuestBook" parameterType="int" resultType="com.somsom.cyworld.post.guestBook.model.GuestBook">
 		SELECT 
			`id`
			, `userId`
 			, `userName`
 			, `targetUserId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
		FROM
			`guestBook`
		WHERE
			`targetUserId` = #{targetUserId}
 	</select>
 	
 </mapper>