<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.somsom.cyworld.post.guestBook.dao.GuestBookDAO">
 
 	<!-- 방명록 쓰기 -->
 	<insert id="insertGuestBook" parameterType="map">
 		INSERT INTO `user`
 		(
 			`userId`
 			, `userName`
 			, `targetUserId`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{userName}
 			, #{targetUserId}
 			, #{content}
 			, now()
 			, now()
 		)
 	</insert>
 	
 </mapper>