<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.somsom.cyworld.post.setting.dao.SettingDAO">
 
 	<!-- 자기소개, 오늘의 기분, 프로필 인사말 등록 -->
 	<insert id="insertSetting" parameterType="map">
 		INSERT INTO `setting`
 		(
 		 	`userId`
 			, `introduce`
 			, `motion`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{introduce}
 			, #{motion}
 			, #{content}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	 <!-- 프로필 사진 등록 -->
 	<insert id="insertImageSetting" parameterType="map">
 		INSERT INTO `settingProfileImage`
 		(
 		 	`userId`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{imagePath}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<!-- 설정 값 가져오기  -->
 	<select id="selectSetting" parameterType="int" 
 	resultType="com.somsom.cyworld.post.setting.model.Setting">
 		SELECT
 			`id`
 			, `userId`
 			, `introduce`
 			, `motion`
 			, `content`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`setting`	
 		WHERE 
 			`userId` = #{userId} 
 			ORDER BY `id` DESC LIMIT 1; 
 	</select>
 
	 <!-- 설정 값(프로필 이미지) 가져오기  -->
 	<select id="selectProfileImage" parameterType="int" 
 	resultType="com.somsom.cyworld.post.setting.model.SettingProfileImage">
 		SELECT
 			`id`
 			, `userId`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`settingProfileImage`	
 		WHERE
 			`userId` = #{userId}
 			ORDER BY `id` DESC LIMIT 1;	
 	</select>		

	<select id="selectConnectUserId" parameterType="int" 
 	resultType="com.somsom.cyworld.post.setting.model.Setting">
 		SELECT
 			`id`
 			, `userId`
 		FROM 
 			`settingConnect`	
 		WHERE 
 			`userId` = #{userId} 
 	</select>
 </mapper>