<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.somsom.cyworld.post.setUp.dao.SetUpDAO">
	
	<!-- 미니홈피 상단 소개말 바꾸기 -->
	<insert id="insertMiniHomeIntroduce" parameterType="map">
		INSERT INTO `user`
 		(
 			`userId`
 			, `userName`
 			, `introduce`
 			, `motion`
 			, `content`
 			, `imagePath`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{대기중}
 			, #{introduce}
 			, #{motion}
 			, #{content}
 			, #{imagePath}
 			, now()
 			, now()
 		)
	
	</insert>

</mapper>